a:hover{
    color: yellow;
    text-decoration: underline overline;
    
}


b:visited{
    color: red;
}


html:active{
    background: yellow;
}


p:first-line{
    color: blue;
    background-color: red;
}


h1::before{ /* "<< " */
    content: "\00AB\0020"
}
h1::after{/* " >>" */
    content: "\0020\00BB"
}


tr:nth-child(2n) {
    background: #95313b;
    color: #fff;
}
tr:nth-child(2n+1) {
    background: #3d2e30;
    color: #e70606;
}


c:nth-of-type(4){
    background: #95313b;
    color: #fff;
}