table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}
th, td {
    border: 1px solid #ddd;
    padding:8px;
    text-align: left;
}
tr:hover{
    background-color: #f5f5f5;
}