body {
    margin: auto;
    padding:0px;
    background: #CCCCCC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
#wrap{
    background: #ffffff;
    margin: auto;
    width: 900px;
    height: auto;
}
header{
    background-color: aqua;
    height: 181px;
    width: 900px;
}
#logo{
    padding: 20px 0 0 50px;
}
#menu_top{
    margin-top: 55px;
    margin-left: 30px;
    background: #ffffff;
    height: 40px;
    opacity: 0.6;
    border-radius: 10px 100px 200px;
}